* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0;
}


body {
    align-items: right;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}

input[type="checkbox"]:checked~.check:before {
    transform: translateX(100%);
	color: black;
}

input[type="checkbox"]:checked~.check {
    background-color: #fff;
    color: aquamarine;
    box-shadow: 0 0 0 50000px #000;
}

.check:before,
.check::after {
    border-radius: 50px;
    content: '';
    height: 16px;
    position: absolute;
    top: 2px;
    transition: transform 0.5s ease;
    width: 16px;
}

.check:before{
	background-color: #000000;
    left: 2px;
}

.check::after {
	background-color: #FFFFFF;
    left: 2px;
}

.check {
    background-color: #000;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 20px;
    position: relative;
    transition: background-color 0.5s ease-in, box-shadow 0.5s ease-in;
    width: 40px;
}.mode {
}
